@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 261 71% 42%;
    --primary-50: 250 100% 98%;
    --primary-foreground: 0 0% 100%;

    --primary-grey: 0, 0%, 4%;

    --neutral: 210 40% 98%;
    --neutral-foreground: 218 39% 11%;

    --disabled: 215 27% 91%;
    --disabled-foreground: 0 0% 100%;

    /* --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%; */

    --radius: 12px;

    --font-inter: 'Inter', sans-serif;
    --font-karma: 'Karma', serif;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.section-header-underlined{
  position: relative; /* needed for absolute positioning of ::after */
  display: inline-block; /* shrink to text width */
  
}

.section-header-underlined::after {
  content: "";
  display: block;
  width: 273px; /* adjust underline width */
  height: 2px; /* thickness of the line */
  background-color: #FFD6AE; /* underline color */
  margin: 8px auto 0; /* spacing and centering */
  border-radius: 2px; /* rounded edges */
}